.App {
  text-align: center;
}

.dailyCard {
  width: 18rem;
}

.dailyIcon {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.loadingCont {
  display: grid;
  justify-content: center;

}

.loadingGif {
  display: block;
  opacity: 0.2;
}