*{
  font-weight: 100;
}

.App {
  text-align: center;
}


body {
  min-height: 100vh;
  max-height: 100%;
  background-image: linear-gradient(rgba(103, 197, 194, 0.4), #FEFCE8, #67c5c266);
  background-size: contain;
  background-repeat: no-repeat;

}

.navbar-brand {
  color: #3D2117;
  font-weight: bold;

}
.container.today-container>p{
  line-height: 0.5em;

}

.todayIcon {
  width: 10%;
  
}

div.hourly {
  background-color: #67c5c266;
  margin-top: 0.5em;
}


ul.list-group.hourly {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.list-group.hourly:nth-child(1) {
  margin-left: 1em;
}

ul.list-group.hourly:last-child {
  margin-right: 1em;
}

.list-item.hourly{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  text-align: center;
  background-color: #67c5c210;
}


  
.dailyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dailyCard {
  width: 18rem;
  background-color: #67c5c266;
  color: #3D2117;
  margin-top: 0.5em;
}

.dailyIcon {

    display: block;
    width: 100%;
    height: auto;
  
  /* width: 70%;
  height: auto; */
  margin-left: auto;
  margin-right: auto;
}

.list-group-item {
  background-color: #67c5c210;
}

.hourlyIcon {
  width: 2em;
  height: auto;
}

@media only screen and (max-width: 450px){
  .list-item.title.hourly {
    width: 100%;
  }
}

.img-wrapper {
  position: relative;
  width:100%;
}

  .info-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #a0e2e0;
  }
  
  .img-wrapper:hover .info-div {
    opacity: 1;
  }
  
  .ul-div {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .list-group-info {
    list-style: none;
  }